<!DOCTYPE html>
<html>
<head>
  <title>Servidor Web {{ inventory_hostname }}</title>
</head>
<body>
  <h1>¡Hola desde {{ inventory_hostname }}!</h1>
  <p>Desplegado automáticamente con Ansible.</p>
</body>
</html>
